apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: java-quarkus-10
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: java-quarkus-10
    app.kubernetes.io/part-of: test-app2
  name: java-quarkus-10
  namespace: christianvogt
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: java-quarkus-10
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: java-quarkus-10
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload:christianvogt-java-quarkus-10
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8081
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8081
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8081
        resources:
          requests:
            cpu: 100m
            memory: 250Mi
status: {}
